    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border: 0;
        background-color: black;
        font-size: 16px;
    }

    p,li {
        /*Las siguientes 3 lineas presetan una buena practica con css, esta es, utilizar medidas relativas en vez de pixeles*/
        font-size: 1rem;
        line-height: 1.25;
        margin-bottom: 0.5em;
        background-color: aquamarine;
        color: red;
    }

    .contenedor {
        display: grid;
        grid-template-columns: [first] 100% [end];
        grid-template-rows: [header] 10% [body] auto [footer] 25% [end];
        grid-gap: 10px;
        color: #444;
        /*Las 3 siguientes lineas de codigo producen que el #contener llene por completo el cuerpo de la pagina.*/
        position: absolute;
        width: 100%;
        height: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .box {
        background-color: white;
        color: #fff;
        border-radius: 5px;
    }

    .a {
        grid-area: header;
        background-color: greenyellow;
        grid-column: first / end;
        grid-row: header / span 1;
    }

    .b {
        grid-area: main;
        background-color: lightblue;
        grid-column: first / end;
        grid-row: body / span 1;
    }

    .c {
        grid-area: footer;
        background-color: lightcoral;
        grid-column: first / end;
        grid-row: footer / span 1;
    }

    /*Las siguientes lineas seran dedicadas a la seccion que contiene el div con clase de nombre contenedor1
    Momentaneamente se le asignara texto a esta seccion para el prototipado rapido de la misma*/
    .contenedor1 {
        display: grid;
        grid-template-columns: [first] 1% [second] 93% [third] 6% [end];
        grid-template-rows: [num1] 10% [contenido1] auto [num2] 20% [end];
        grid-gap: 0px;
        color: #444;
        justify-items: stretch;
        grid-template-areas:
            "costadoiz""content""costadoder"
            "costadoiz""content""costadoder"
            "costadoiz""content""costadoder";
    }
    /*Lo siguiente es muy importante*/
    .a1 {
        grid-area: content;
        background-color: lightblue;
        grid-column: second / span third;
        grid-row: num1 / end;
    }